* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body, .wrapper {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol li, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------*/
body {
  font-family: 'Europa', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-size: 16px;
  color: #fff;
  background: #2b2b2b;
}

.intro {
  min-height: 100vh;
  padding: 2vh;
}

.intro__content {
  padding: 30px;
  background: #101014;
  min-height: 96vh;
  border-radius: 5px;
  background: url(../source/images/intoroBg.png) no-repeat center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  grid-template: [start] "logo logo nav search search" 15% [row2] [row2] "intro-text intro-text wath-btn wath-btn social" auto [row3] [row3] "info info info info info" 15% [row-end]/30% 40% 20% 10%;
}

@media (max-width: 1440px) {
  .intro__content {
    padding: calc(5px + (30 - 5) * ((100vw - 320px) / 1120));
  }
}

.logo {
  grid-area: logo;
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
}

.burger {
  display: none;
}

.nav {
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.nav a {
  cursor: pointer;
  margin-left: 62px;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: color .1s;
  transition: color .1s;
}

.nav a:first-child {
  margin-left: 0;
}

.nav a:hover, .nav a.active {
  color: #51cff5;
}

.nav a:hover::after, .nav a.active::after {
  width: 100%;
}

.nav a::first-letter {
  text-transform: uppercase;
}

.nav a::after {
  content: '';
  display: block;
  background: #51cff5;
  margin-top: 4px;
  height: 2px;
  width: 0;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.search {
  grid-area: search;
  margin-top: 4px;
  position: relative;
}

.search .search-icon {
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.8);
}

.search .search-icon::after, .search .search-icon::before {
  content: '';
  display: block;
  width: 100%;
  height: 3.5px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: .1s;
  transition: .1s;
}

.search .search-icon.dn span {
  display: none;
}

.search .search-icon.dn {
  width: 30px;
  height: 30px;
}

.search .search-icon.dn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  opacity: 1;
}

.search .search-icon.dn::before {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 790px) {
  .search .search-icon {
    top: 0px;
  }
}

.search input {
  left: -200px;
  position: absolute;
  top: 25%;
  padding: 0;
  font-size: 0;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  width: 0;
  -webkit-transition: width .2s;
  transition: width .2s;
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .search input {
    left: calc(-10px + (-200 - -10) * ((100vw - 320px) / 1120));
  }
}

.search input.active {
  width: 250px;
  padding: 5px;
  font-size: 25px;
  border: 3px solid #51cff5;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.intro__text {
  grid-area: intro-text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__suptitle {
  font-size: 37px;
}

@media (max-width: 1440px) {
  .intro__suptitle {
    font-size: calc(20px + (37 - 20) * ((100vw - 320px) / 1120));
  }
}

.intro__title {
  font-size: 116px;
  font-weight: bold;
}

@media (max-width: 1440px) {
  .intro__title {
    font-size: calc(50px + (116 - 50) * ((100vw - 320px) / 1120));
  }
}

.intro__subtitle {
  line-height: 20px;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 12.7px;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
}

.intro__subtitle span::after {
  content: '-';
  margin-left: 10px;
}

.intro__subtitle span:last-child::after {
  display: none;
}

.wath-btn {
  grid-area: wath-btn;
  position: relative;
}

.wath-btn a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.wath-btn a:hover p {
  font-size: 17px;
}

.wath-btn__link div {
  width: 68px;
  height: 68px;
  border: 1px solid rgba(174, 174, 174, 0.37);
  border-radius: 50%;
  position: relative;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.wath-btn__link div::after, .wath-btn__link div::before,
.wath-btn__link div span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wath-btn__link div::after {
  content: '';
  width: 45px;
  height: 45px;
  background-color: #aff7fd;
  border-radius: 50%;
}

.wath-btn__link div::before {
  content: '';
  width: 56px;
  height: 56px;
  border: 1px solid rgba(174, 174, 174, 0.56);
  border-radius: 50%;
}

.wath-btn__link div span {
  color: #000000;
  z-index: 3;
}

.wath-btn__link:hover div {
  background-color: #aff7fd;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.wath-btn__link:hover div::after {
  background: rgba(0, 0, 0, 0);
}

.wath-btn__link:hover div span {
  font-size: 20px;
}

.wath-btn__link:hover div::before {
  border-color: #51cff5;
}

.wath-btn__link p {
  color: #51cff5;
  word-wrap: none;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.social {
  grid-area: social;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  gap: 30px;
  text-align: right;
}

.social span {
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  -webkit-transition: color, font-size .1s, .1s;
  transition: color, font-size .1s, .1s;
}

.social span:hover {
  color: #51cff5;
}

.info {
  grid-area: info;
  display: -ms-grid;
  display: grid;
  grid-template: [start] "title info-txt" 1fr [row2] [row2] "subtitle info-txt" 1fr [row-end]/20% 50%;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.info__title {
  grid-area: title;
  font-weight: bold;
  font-size: 20px;
  margin-top: 9%;
}

.info__subtitle {
  grid-area: subtitle;
  letter-spacing: 0.7px;
  color: rgba(81, 207, 245, 0.8);
  font-size: 16px;
  margin-top: 9%;
}

.info__txt {
  grid-area: info-txt;
  padding-left: 20px;
  letter-spacing: 0.52px;
  line-height: 22px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  border-left: solid 1px #fff;
}

@media (max-width: 790px) {
  .intro__content {
    position: relative;
    grid-template: [start] "logo search burger " 25% [row2] [row2] "intro-text intro-text social" 33% [row3] [row3] "wath-btn  wath-btn wath-btn" 16% [row-4] [row-4] "info info info" 20% [row-end]/10% auto 11%;
  }
  .burger {
    max-width: 40px;
    height: 30px;
    position: relative;
    display: none;
    z-index: 6;
    display: block;
    grid-area: burger;
  }
  .burger span, .burger::before, .burger::after {
    height: 2px;
    background: #51cff5;
    width: 100%;
  }
  .burger span {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 100%;
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  .burger::before {
    content: '';
    position: absolute;
    top: 0;
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  .burger::after {
    content: '';
    position: absolute;
    bottom: 0;
    -webkit-transition: all .1s;
    transition: all .1s;
  }
  .burger.active::before, .burger.active::after {
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .burger.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger.active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger.active span {
    display: none;
  }
}

@media (max-width: 790px) and (max-width: 790px) {
  .burger {
    display: block;
  }
}

@media (max-width: 790px) {
  .nav {
    position: fixed;
    left: 0;
    top: -100%;
    padding: 2vh;
    width: 100%;
    min-height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    z-index: 5;
    -webkit-transition: top .2s;
    transition: top .2s;
  }
  .nav a {
    margin: 0 0 20px 0;
    font-size: 25px;
  }
  .nav.burger-active {
    top: 0;
  }
  .info {
    grid-area: info;
    display: -ms-grid;
    display: grid;
    grid-template: [start] "title title" 1fr [row2] [row2] "subtitle subtitle" 1fr [row3] [row3] "info-txt info-txt" 1fr [row-end]/20% 50%;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .info__txt {
    font-size: 10px;
    line-height: 15px;
  }
}
